/** Font variables **/
$main-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Source Sans Pro', sans-serif;
$text-color: #fff;

/** Grid variables **/
$container-width: 1200px;
$col-padding: 15px;